.productItem {
  width: 100%;
  height: 160px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;

  &:hover {
    background-color: rgba(0, 0, 255, 0.03);
    cursor: pointer;
  }

  .productThumbnail {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    img {
      width: 120px;
      height: 120px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
    }
  }

  .infoBox {
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 112px;

    .productInfo {
      font-weight: 600;
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;

      .productName {
        font-size: 1.02rem;
      }

      .stock {
        margin-top: 4px;
        margin-left: 4px;
        color: #555;
      }
    }

    .unitPrice {
      color: #f7863b;
      font-family: "NanumSquareRoundB";
      margin-bottom: 4px;
      font-size: 1.05rem;
    }

    .date {
      font-weight: 600;
    }
  }
}
