.pageContainer {
  width: 100%;

  .btnBox {
    position: fixed;
    right: 8px;
    bottom: 8px;

    .btnAdd {
      margin-right: 8px;
    }
  }

  .modal {
    .title {
      font-size: 1.2rem;
      font-weight: 600;

      .horzLine {
        width: 99%;
        height: 1px;
        background-color: #ccc;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 4px auto;
      }
    }
  }

  .loading {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
