.receiptItem {
  width: 100%;
  height: 120px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
  margin: 2px 0;
  padding: 16px;
  display: flex;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .receiptImg {
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;

    img {
      width: 100%;
    }
  }

  .receiptInfo {
    height: 100%;
    padding: 4px 8px;

    p {
      margin: 0;
      margin-bottom: 5px;
    }

    .receiptTitle {
      font-size: 1rem;

      .otherItemCnt {
        font-size: 0.7rem;
        color: #555;
        margin-left: 8px;
      }
    }

    .receiptOrderId {
      color: #555;
    }

    .totalPrice {
      position: absolute;
      right: 16px;
      bottom: 16px;
      font-size: 1rem;
      font-weight: 600;
      color: #f7863b;
    }

    .receiptDate {
      color: #555;
    }
  }
}
