.contentTitle {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 20px;
}

.horzLine {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 1px;
  background-color: #777;
  margin-bottom: 8px;
}
