.container {
  width: 72px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  }

  .text {
    color: #fff;
    font-weight: 300;
  }
}
