.container {
  height: 32px;
  box-sizing: border-box;
  padding: 8px 16px;
  padding-top: 12px;
  margin: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #275241;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  border-radius: 16px;

  &:hover {
    cursor: pointer;
  }
}
