.outerInput {
  display: flex;
  border-radius: 20px;
  width: 304px;
  height: 48px;
  border: 2px solid #ccc;
  background-color: none;

  box-sizing: border-box;
  margin-top: 9px;

  &:focus {
    border: 2px solid #ccc;
  }
}

.innerInput {
  border: none;
  outline: none;
  border-radius: 20px;
  width: 304px;
  height: 48px;
}
