.screen {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  position: relative;
  color: #555555;
  font-weight: bold;
}

.orderinfo {
  font-size: 16px;
  margin-top: 0.5%;
}
